@media screen and (min-width: 576px) {
  .row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: 2%;
  }

  .row-col-1 {
    flex-basis: 32%;
  }
  .row-col-2,
  .row-col-3,
  .row-col-4,
  .row-col-6 {
    flex-basis: 48%;
  }

  .row-col-5,
  .row-col-7,
  .row-col-8,
  .row-col-9,
  .row-col-10,
  .row-col-11,
  .row-col-12 {
    flex-basis: 100%;
  }
}

@media screen and (min-width: 992px) {
  .row-col-1 {
    flex-basis: 6.5%;
  }

  .row-col-2 {
    flex-basis: 15%;
  }

  .row-col-3 {
    flex-basis: 23.5%;
  }

  .row-col-4 {
    flex-basis: 32%;
  }

  .row-col-5 {
    flex-basis: 40%;
  }

  .row-col-6 {
    flex-basis: 48%;
  }

  .row-col-7 {
    flex-basis: 58%;
  }

  .row-col-8 {
    flex-basis: 66%;
  }

  .row-col-9 {
    flex-basis: 74.5%;
  }

  .row-col-10 {
    flex-basis: 83%;
  }

  .row-col-11 {
    flex-basis: 91.5%;
  }
}

.row div:nth-of-type(1),
.row div:nth-of-type(7) {
  background-color: aqua;
}

.row div:nth-of-type(2),
.row div:nth-of-type(8) {
  background-color: coral;
}

.row div:nth-of-type(3),
.row div:nth-of-type(9) {
  background-color: palegreen;
}

.row div:nth-of-type(4),
.row div:nth-of-type(10) {
  background-color: lightgrey;
}

.row div:nth-of-type(5),
.row div:nth-of-type(11) {
  background-color: khaki;
}

.row div:nth-of-type(6),
.row div:nth-of-type(12) {
  background-color: slateblue;
}
